 header{
   background-color: rgb(246, 255, 0);
 
   
 
 }
/* header { 
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    background-color: black;
  } */

footer {
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  color: #ead9d9;
  text-align: center;
}
.note{
  margin-left: 5px;
  border-radius: 5px;
  box-shadow:0 2px 10px #f36262;
  float: left;
  width: auto;
  height: 120px;
  padding:15px;
}
/* .Emojii{
  /* border: 2px solid rgb(255, 0, 217);
  float:left;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px; 
  margin-left: 5px;
  border-radius: 5px;
  box-shadow:0 2px 10px #827c7c;
  float: left;
  width: 300px;
  height: auto;
  padding:15px;
  background-color: antiquewhite;
  
} */
label{
  width: 100px;
  display: inline-block;
}
form{
  box-shadow:0 12px 10px #7c8082;
  border-radius: 7PX;
  float: left;
  padding:20PX;
  background-color: rgb(215, 239, 250);
  text-align: center;
  margin-left: 600px;
  margin-top: 300px;
}
input{
  width: 50%;
}
.bak{
  background-color: aqua;
  border: #f36262;
}